.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 20%;
  background-color: lightgray;
}
.menu{
  flex: 5%;
  background-color: darkgray;
}
.content{
  flex: 70%;
  background-color: black;
}
.footer{
  flex: 5%;
  background-color: pink;
}
h1 {
  color: red;}
.tieude {
  color: tomato;
  font-weight: bold;
  font-size: 20pt;
}
.noidung {
  color: black;
  font-weight: normal;
  font-size: 14pt;
}
